.divs {
    height:300px;
    width:200px;
    background-color: rgb(150, 145, 145);
    display: inline-block;
    border-width: 15px 15px 15px 15px;
    border-colour: black;
    float: left;
    padding: 20px;
    margin: 5px;
}

#bottom_bar {
    display: inline;
    width:500px;
    background-color: rgb(25, 25, 25)
}